
@{
    ViewBag.Title = "WelcomePage";
}

<h2>Homepage</h2>

<div>
    @Html.ActionLink("Admin", "Login")
</div>
<div>
    @Html.ActionLink("Doctor", "Login")
</div>
<div>
    @Html.ActionLink("Patient", "Login")
</div>
<div>
    @Html.ActionLink("Front Executive", "Login")
</div>
<div>
    @Html.ActionLink("Pharmacist", "Login")
</div>